<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Veterinaria</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a la Clínica Veterinaria</h1>
    </header>

    <main>
        <p>Estamos aquí para cuidar a tu mascota. Conoce más sobre nuestros servicios:</p>
        <div>
            <a href="/reserva"><button>Reserva tu cita</button></a>
            <a href="/productos"><button>Ver Productos</button></a>
            <a href="/servicios"><button>Ver Servicios</button></a>
            <a href="/nosotros"><button>Sobre Nosotros</button></a>
            <a href="/contacto"><button>Contacto</button></a>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Clínica Veterinaria. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
